 <div class="container">
   <h1>{{title}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nom du vaisseau satellite</th>
        <th scope="col">Adresse IP</th>
        <th scope="col">Status</th>
        <th scope="col">Temps écoulé </th>
        <th scope="col">numero de jeton</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sat of flee">
        <th scope="row">{{sat.id}}</th>
        <td>{{sat.ipPAdress}}</td>
        <td>{{sat.status}}</td>
        <td>{{sat.timeElapsed}}</td>
        <td>{{sat.token}}</td>
        <td><a routerLink="/vaisseauSatellite/{{sat.id}}"  (click) ="onSelect(sat)"
          >
          <span class="glyphicon glyphicon-info-sign"></span>
        </a></td>
      </tr>
    </tbody>
  </table>
  
</div> 

